@using System.App.Model.Resources
@using System.App.Web.TraineR.Models.Domain
@using System.App.Model.Enums

@model List<Dict_Diagnosis>

@if (GlobalSetting.DemoMode == true || User.Identity.Name == GlobalSetting.WEBPORTAL_USER_DEMO)
{
<div class="alert alert-warning">
    <i class="fa fa-info-circle"></i>
    @Resource.Message_InDemoMode <a href="/Account/Login">@Resource.Message_AuthorizedLoginToEdit</a>
</div>
    <table id="dataTable_ro" class="table">
        <thead>
            <tr>
                <th>@Resource.Name</th>
                <th>@Resource.Code</th>
                <th>@Resource.CodingSystem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id='@item.Id'>
                    <td>@item.Name</td>
                    <td>@item.Code</td>
                    <td>@item.CodingSystem</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        $('#dataTable_ro').dataTable({
            "bSort": false,
            "bPaginate": true,
            "oLanguage": getLanguage('@Resource.lan'),
        });
    </script>

    return;
}

<style>
    .row_selected {
        background-color: #B0BED9;
    }
</style>

<script type="text/javascript">
    $.blockUI({ message: '<h4>' + '@Resource.Loading' + '</h4>', fadeIn: 0 });

    $(function () {

        $('#editableDataTable').dataTable({
            "oLanguage": getLanguage('@Resource.lan'),
            "bSort": false,
            "bPaginate": true,
        }).makeEditable({
            height: '30px', // height of editable control
            sUpdateURL: "@Url.Action("UpdateData", "DictDiagnosis")",
            sAddURL: "@Url.Action("AddData", "DictDiagnosis")",
            sDeleteURL: "@Url.Action("DeleteData", "DictDiagnosis")",
            sAddNewRowOkButtonId: "btnAddNewRowOk",
            sAddNewRowCancelButtonId: "btnAddNewRowCancel",
            sAddNewRowButtonId: "btnAddNewRow",
            sDeleteRowButtonId: "btnDeleteRow",
        });

        $.unblockUI();
        $(document).ajaxStop($.unblockUI);
    });
</script>


<div class="add_delete_toolbar pull-right">
    <br/>
    <button id="btnAddNewRow" class="btn btn-default">@Resource.AddNewRow</button>
    <button id="btnDeleteRow" class="btn btn-default">@Resource.DeleteSelectedRow</button>
</div>

<h4>
    @Resource.DictDiagnosis
</h4>
<p>(@Resource.ToolTip_CRUD)</p>

<table id="editableDataTable" class="table">
    <thead>
        <tr>
            <th>@Resource.Name</th>
            <th>@Resource.Code</th>
            <th>@Resource.CodingSystem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id='@item.Id'>
                <td>@item.Name</td>
                <td>@item.Code</td>
                <td>@item.CodingSystem</td>
            </tr>
        }
    </tbody>
</table>

<form id="formAddNewRow" action="#" title="@Resource.Add">
    <!-- the rel attribute is used to insert  -->
    <input type="hidden" id="id" name="id" value="@GlobalSetting.UNINITIALIZED_ENTITY_ID" />
    <label for="Name">@Resource.Name</label>
    <input type="text" name="Name" id="Name" @*class="required"*@ rel="0" />
    <br />
    <br />
    <label for="Code">@Resource.Code</label>
    <input type="text" name="Code" id="Code" rel="1" />
    <br />
    <br />
    <label for="CodingSystem">@Resource.CodingSystem</label>
    <input type="text" name="CodingSystem" id="CodingSystem" rel="2" />
    <br />
    <button id="btnAddNewRowOk" value="Ok" class="btn btn-default">@Resource.OK</button>
    <button id="btnAddNewRowCancel" value="cancel" class="btn btn-default">@Resource.Cancel</button>
</form>
