@using System.App.Model.Resources
@using System.App.Web.TraineR.Models.Domain
@using System.App.Model.Enums
@using System.App.Utility.Helpers
@using System.Data.SQLite
@using System.App.Web.TraineR.Services
@using System.App.Model

<p>@ViewBag.Message</p>

@{
    int DIR_LEVEL = 2;

    var LOCAL_REPO = @"C:\Users\eleve\Documents\codex\cs\TraineR\System.App.Web.TraineR\Upload\Main\Quiz";
    var SERVE_FOLDER = @"\Quiz\";

    var db = new NewbornContainer(Resource.lan);

    if (DIR_LEVEL == 1)
    {
        // 单病种目录结构，一层
        db.ImportImages(LOCAL_REPO, SERVE_FOLDER);
    }
    else if (DIR_LEVEL == 2)
    {
        // 多病种目录结构，两层，每个疾病一个子文件夹
        foreach (string subfolder in System.IO.Directory.GetDirectories(LOCAL_REPO, "*", SearchOption.TopDirectoryOnly))
        {
            var lst = db.ImportImages(subfolder, SERVE_FOLDER);
            <div class="alert alert-warning">
                * Added @lst.Count() images in folder "@subfolder".

                @foreach (var item in lst)
                {
                <p>@item.Name</p>
                }
            </div>
        }
    }
}

<p>IMPORT COMPLETE. Go back to @Url.Action("Trainer Home", "Index")</p>
