@using System.App.Model.Enums
@using System.App.Utility.Helpers
@using Aliyun.OSS
@using System.IO
@using System.App.Web.TraineR.Models.Domain

@{
    ViewBag.Title = "Seed";
}

@{ 
    var db = new NewbornContainer();
    var ids = db.Image.Where(x => x.Name == "眼底彩照" || x.Name.Contains("RetCam"))
        .Select(x=>x.Id).ToList();

    <h3>@ids.Count()</h3>

    foreach (var id in ids)
    {
        db = new NewbornContainer();
        var img = db.Image.Find(id);

        if(img.ImageFilePath.ToLower().StartsWith("/upload") == false)
        {
            <b>@img.ImageFilePath</b>
            continue;
        }

        var path = Server.MapPath(img.ImageFilePath);
        if(File.Exists(path))
        {
            <h4>@id</h4>
            <p>@path</p>            
            img.Thumbnail = Base64Convertor.GetDataURLForImageThumbnail(path, 90, 60);
            <img src="@img.Thumbnail" />

            db.Entry(img).State = System.Data.Entity.EntityState.Modified;
            db.SaveChanges();
        }

        db.Dispose();
    }
}


@{ return; }
