@using System.App.Model
@using System.App.Utility.Helpers
@using System.App.Model.Consts

@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown last">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span>@CultureHelper.GetCultureName(culture)</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("SetCulture","Culture",new { culture = "zh-cn"})">
                @*<img width="24" height="24" src="@EmbededImages.FlagCn" />*@
                &nbsp;中文</a></li>
            <li><a href="@Url.Action("SetCulture","Culture",new { culture = "en-us"})">
                @*<img width="24" height="24" src="@EmbededImages.FlagEn" />*@
                &nbsp;English</a></li>
            <li><a href="@Url.Action("SetCulture","Culture",new { culture = "ja-jp"})">
                @*<img width="24" height="24" src="@EmbededImages.FlagJp" />*@
                &nbsp;日本語</a></li>
        </ul>
    </li>
 </ul>